<div class="row">
    <div class="col-xl-3 col-md-6" (click)="opendailyearnings()">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Daily Earnings</small>
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="todayTotalAmount" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/earnings.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6" (click)="pendinglist()">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Pending List</small>
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="pendingAmount" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/earnings.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="isOpen==false">
    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Daily Earning List</h5>

            <div class="d-flex justify-content-end gap-3" style="align-items: baseline;">
                <label class="form-label ">Duration</label>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                            [convertModelValue]="true" (input)="onselection()" mode="range"
                            [options]="flatpickrOptions">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-center">Customer Name</th>
                            <th class="text-center">Contact No</th>
                            <th class="text-center">Payment Date</th>
                            <th class="text-center">Paid Amount</th>
                            <th class="text-center">Payment Type</th>
                            <th class="text-center">Booking Date</th>
                            <th class="text-center">Satuts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of paginateData;let i=index">
                            <td class="text-left">{{s.index}}</td>
                            <td class="text-center">{{s.fname}} {{s.lname}}</td>
                            <td class="text-center">{{s.contact}}</td>
                            <td class="text-center">{{s.pdate | date:'dd/MM/yyyy h:mm a'}}</td>
                            <td class="text-center">{{s.paidprice}} ₹</td>
                            <td class="text-center">{{s.modeofpayment}}</td>
                            <td class="text-center">{{s.appointmentdate | date:'dd/MM/yyyy h:mm a'}}</td>
                            <td class="text-center">
                                <span class="badge bg-success" *ngIf="!s.pendingstatus">Completed</span>
                                <span class="badge bg-danger" *ngIf="s.pendingstatus">Pending</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-5">
                <div class="d-flex justify-content-start gap">
                    <div class="hstack gap-3">
                        <!-- <div class="col-md">
                            <button type="button" class="btn btn-primary  " (click)="generateInvoicePDF()"><i
                                    class="fa fa-file-pdf-0"></i>
                                Invoice(PDF)</button>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <ngb-pagination [collectionSize]="collectionSize" [pageSize]="pageSize" [(page)]="page" [maxSize]="5"
                    [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="getPagintaion();"
                    aria-label="Default pagination"
                    class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isOpen==true">
    <div class="card">
        <div class="card-header">

            <h5 class="card-title">Pending List</h5>

            <div class="d-flex justify-content-end gap-3" style="align-items: baseline;">
                <label>Search By:</label>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input type="text" class="form-control" id="fname" placeholder="Whatsapp No & Customer Name"
                            [(ngModel)]="searchQuery" (input)="applySearchFilter()">
                    </div>
                </div>
                <label class="form-label ">Date:</label>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <input class="form-control flatpickr-input" type="text" mwlFlatpickr [altInput]="true"
                            [convertModelValue]="true" (input)="onselection()" mode="range"
                            placeholder="Select Date Range" [options]="flatpickrOptions">
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary waves-effect btn-label waves-light"
                    (click)="openAddExpense()"><i class="bx bx-user-plus label-icon"></i>
                    Add New Expense</button> -->
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-center">Customer Name</th>
                            <th class="text-center">Contact No</th>
                            <th class="text-center">Payment Date</th>
                            <th class="text-center">Paid Amount</th>
                            <th class="text-center">Payment Type</th>
                            <th class="text-center">Booking Date</th>
                            <th class="text-center">Satuts</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of paginateDataPending;let i=index">
                            <td class="text-left">{{s.index}}</td>
                            <td class="text-center">{{s.fname}} {{s.lname}}</td>
                            <td class="text-center">{{s.contact}}</td>
                            <td class="text-center">{{s.pdate | date:'dd/MM/yyyy h:mm a'}}</td>
                            <td class="text-center">{{s.paidprice}} ₹</td>
                            <td class="text-center">{{s.modeofpayment}}</td>
                            <td class="text-center">{{s.appointmentdate | date:'dd/MM/yyyy h:mm a'}}</td>
                            <td class="text-center">
                                <span class="badge bg-success" *ngIf="!s.pendingstatus">Completed</span>
                                <span class="badge bg-danger" *ngIf="s.pendingstatus">Pending</span>
                            </td>
                            <td class="text-end">
                                <button type="button" class="btn btn-primary waves-effect btn-label waves-light"
                                    *ngIf="s.pendingstatus" (click)="openUsedServiceList(s,exlargeModal)"
                                    ngbTooltip="View Services" placement="top" data-bs-toggle="modal"
                                    data-bs-target=".bs-example-modal-xl"><i
                                        class="fas fa-rupee-sign label-icon"></i>Accept</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-4">
                <ngb-pagination [collectionSize]="collectionSizePending" [pageSize]="pageSizePending"
                    [(page)]="pagePending" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                    (pageChange)="getPendingPagintaion();" aria-label="Default pagination"
                    class="d-flex justify-content-end pagination-rounded-flat pagination-success"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
<ng-template #exlargeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Services List</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead class="table-light">
                        <tr>
                            <th class="text-left">#</th>
                            <th class="text-center">Service Type</th>
                            <th class="text-center">Service Name</th>
                            <th class="text-center">Employee</th>
                            <th class="text-center">Service Price</th>
                            <th class="text-center">Service Point</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of usedServices;let i=index">
                            <td class="text-left">{{a.index}}</td>
                            <td class="text-center">
                                <span class="badge bg-warning" *ngIf="a.servicetype=='Combo'">{{a.servicetype}}</span>
                                <span class="badge bg-primary" *ngIf="a.servicetype=='Regular'">{{a.servicetype}}</span>
                                <span class="badge bg-success"
                                    *ngIf="a.servicetype=='Membership'">{{a.servicetype}}</span>
                            </td>
                            <td class="text-center">{{ a.servicesname }}</td>
                            <td class="text-center">{{a.employeename}}</td>
                            <td class="text-center">{{ a.price }} ₹</td>
                            <td class="text-center">{{ a.point }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="d-flex justify-content-end gap-1">
                <div class="hstack gap-3">
                    <div>
                        <button type="button" class="btn btn-info waves-effect btn-label waves-light"
                            ngbTooltip="Accept payment" placement="top" data-bs-toggle="modal"
                            data-bs-target=".bs-example-modal-xl" (click)="openPaymentData(content)"><i
                                class="bx bx-rupee label-icon"></i>Accept</button>
                    </div>
                    <div class="vr"></div>
                    <div class="grid-example">Total Price:
                        <span class="text-primary"><b>{{totalPriceForDetails}}
                                ₹</b></span>
                    </div>
                    <div class="vr"></div>
                    <div class="grid-example">Total Points: <span
                            class="text-primary"><b>{{totalPointForDetails}}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Payment Method</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Close click')">
        </button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-body border-bottom">
                <div>
                    <div class="row">
                        <div class="d-flex flex-column">
                            <div class="p-1">Customer Name : <span class="badge bg-primary"
                                    ngbTooltip="{{userBookingData.fname}} {{userBookingData.lname}}"
                                    placement="top">{{userBookingData.fname}}
                                    {{userBookingData.lname}}</span>
                            </div>
                            <div class="p-1">Contact : <span class="badge bg-primary"
                                    ngbTooltip="{{userBookingData.contact}}"
                                    placement="top">{{userBookingData.contact}}</span>
                            </div>
                            <div class="p-1 d-flex flex-wrap gap-2">Services : <span class="badge bg-primary"
                                    *ngFor="let a of userBookingData.services;let i=index"
                                    ngbTooltip="{{a.servicesname}}" placement="top">{{a.servicesname}}</span>
                            </div>
                            <div class="p-1">Today Earned Point : <span class="badge bg-primary"
                                    ngbTooltip="{{userBookingData.tpoint}}"
                                    placement="top">{{userBookingData.tpoint}}</span>
                            </div>
                        </div>
                    </div>
                    <h5 class="font-size-16p-1">Total Amount:
                        <span class="badge bg-success text-white text-decoration-underline"
                            ngbTooltip="{{userBookingData.tprice}} ₹" placement="top">{{userBookingData.tprice}}
                            ₹</span>
                    </h5>
                    <h5 class="font-size-18 mb-4 p-1">Total Pending Amount:
                        <span class="badge bg-warning text-white text-decoration-underline"
                            ngbTooltip="{{userBookingData.pending}} ₹" placement="top">{{userBookingData.pending}}
                            ₹</span>
                    </h5>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text">Customer Total Point</label>
                                <input type="text" class="form-control disabled-c" disabled
                                    placeholder="Total Customer Point" value="{{userBookingData.totalcustpoint}}">
                            </div>
                            <div class="mb-3">
                                <div class="input-group">
                                    <label class="input-group-text">Redeem Points</label>
                                    <input type="number" class="form-control disabled-c" disabled
                                        placeholder="Enter Redemption Points" value="{{ userBookingData.redeempoint }}">
                                    <input type="text" class="form-control disabled-c" disabled
                                        placeholder="Converted Price" value="{{ userBookingData.redeemamount }}">
                                    <label class="input-group-text">₹</label>
                                </div>
                            </div>

                            <div class="input-group mb-3" *ngIf="userBookingData.vip">
                                <label class="input-group-text">VIP Discount</label>
                                <label class="input-group-text">{{userBookingData.vipdiscount}}%</label>
                                <input type="number" class="form-control disabled-c"
                                    value="{{userBookingData.vipamount}}" disabled placeholder="VIP Discount">
                                <label class="input-group-text">₹</label>
                            </div>
                            <div class="mb-3">
                                <div class="input-group" *ngIf="!userBookingData.vip">
                                    <label class="input-group-text">Discount</label>
                                    <input type="number" class="form-control disabled-c" disabled
                                        placeholder="Enter Percentage Discount"
                                        value="{{ userBookingData.maxdiscount }}">
                                    <label class="input-group-text">%</label>
                                    <label class="input-group-text disabled-c">{{
                                        userBookingData.maxamount}}</label>
                                    <label class="input-group-text">₹</label>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text">Total</label>
                                <input type="text" class="form-control disabled-c" disabled placeholder="Enter Amount"
                                    value="{{userBookingData.paidprice}}">
                                <label class="input-group-text">₹</label>
                            </div>


                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="input-group mb-3">
                                <label class="input-group-text">Cash</label>
                                <input type="number" class="form-control" placeholder="Enter Amount"
                                    [(ngModel)]="billingModel.cashamount" #cashAmountInput
                                    (focusout)="calculationOfPayment(cashAmountInput.value,'cash')">
                                <label class="input-group-text">₹</label>
                            </div>
                            <div class="input-group mb-3">
                                <label class="input-group-text">Online</label>
                                <select class="form-select" style="max-width: 130px;"
                                    [(ngModel)]="selectedPaymentMethod" (ngModelChange)="onPaymentMethodChange()">
                                    <option value="UPI">UPI</option>
                                    <option value="Credit/Debit">Credit/Debit</option>
                                    <option value="Bank">Bank Transfer</option>
                                </select>
                                <input type="number" class="form-control" placeholder="Enter Amount"
                                    [(ngModel)]="billingModel.onlineamount" #onlineAmountInput
                                    (focusout)="calculationOfPayment(onlineAmountInput.value,'online')">
                                <label class="input-group-text">₹</label>
                            </div>

                            <div class="input-group mb-3">
                                <label class="input-group-text">Pending Amount</label>
                                <input type="number" class="form-control disabled-c" disabled placeholder="Enter Amount"
                                    [(ngModel)]="billingModel.pendingamount">
                                <label class="input-group-text">₹</label>
                            </div>

                            <div *ngIf="exceedError !== null && exceedError !== ''" class="alert alert-danger"
                                role="alert">
                                {{ exceedError }}
                            </div>


                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-success w-md" (click)="savePaymentDetails()">Pay
                                Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</ng-template>