<app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openCustomer()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Customer</small>
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="customerList.length" [options]="option"
                                class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/user.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openService()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Services</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="servicesList.length" [options]="option"
                                class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/services.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Daily Earnings</small>
                        </h4>
                        <h4 class="mb-3">
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/earnings.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Pending Enquiry</small>

                        </h4>
                        <h4 class="mb-3">

                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/enquiry.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openExpenses()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Daily Expenses</small>
                                
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="ExpensesList.length" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/expense.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openofferSerivce()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Combo Offer</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="offerList.length" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/offer.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openVendor()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Vendor</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="vendorList.length" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/product.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openMembershipService()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Membership</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="MembershipList.length" [options]="option"
                                class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/member.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title"> Active Service List</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-center">#</th>
                            <th class="text-center">Customer Name</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Total Price</th>
                            <th class="text-center">Payment</th>
                            <th class="text-right">Actions</th>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of appointmentList">

                                <td class="text-center">{{ item.index }}</td>
                                <!-- <td class="text-center">{{ item.fname}} {{ item.lname}} </td> -->
                                <td class="text-center">
                                    <button class="btn btn-info" *ngIf="item.isactive==true">
                                        Processing
                                    </button>
                                    <button class="btn btn-success" *ngIf="item.isactive==false">
                                        Completed
                                    </button>
                                </td>
                                <td class="text-center" style="color: black; font-weight: 500 !important">{{
                                    item.totalprice }} ₹
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-success" *ngIf="item.isactive==true" data-toggle="modal"
                                        data-target="#customerPaymentModal" (click)="modeOfPayment(item)">
                                        <i class="fa fa-inr" aria-hidden="true"></i> Accept
                                    </button>
                                </td>
                                <td class="text-right">
                                    <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm">
                                        <i class="fa fa-eye" data-toggle="modal"
                                            data-target="#customerServicesModal"
                                            (click)="openUsedServiceList(item)"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="card-title"> Active Employee List</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th class="text-center">#</th>
                            <th class="text-center">Employee Name</th>
                            <th class="text-center">Working State</th>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of paginateData ; let i = index">
                                <td class="text-center">{{ item.index }}</td>
                                <td class="text-center">{{ item.fname}} {{ item.lname}} </td>
                                <td class="text-center">
                                    <button class="btn btn-success btn-round" *ngIf="item.isworking==true"
                                        (click)="updateEmpProcessingActive(item)">
                                        Processing
                                    </button>
                                    <button class="btn btn-info btn-round" *ngIf="item.isworking==false"
                                        (click)="updateEmpProcessingDeActive(item)">
                                        Ideal
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>
<div class="row">
    <app-users></app-users>
</div>