<!-- <app-pagetitle title="Dashboard" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
<!-- <div class="col-xl-12 mb-4">

    <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let b of imagesData">
            <img src="http://localhost:8100{{b.bannersimage}}" alt="second slide" class="d-block img-fluid">
        </ng-template>
    </ngb-carousel>

</div> -->
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openCustomer()">
            <div class="card-body">

                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Customer</small>
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="customerList.length" [options]="option"
                                class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/user.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Pending Enquiry</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="0" [options]="option" class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/enquiry.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openearnings()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Daily Earnings</small>
                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="todayTotalAmount" [options]="option" class="counter-value"></span>
                        </h4>
                        <h4 class="mb-3">
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/earnings.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+ $2.8k</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card card-h-100" (click)="openExpenses()">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h4>
                            <small class="card-title text-muted mb-3 lh-1 d-block text-truncate">Daily Expenses</small>

                        </h4>
                        <h4 class="mb-3">
                            Total: <span [countUp]="ExpensesList.length" [options]="option"
                                class="counter-value"></span>
                        </h4>
                    </div>
                    <div class="col-4 text-center">
                        <img src="assets/images/icons/expense.png" alt="" class="rounded avatar-lg">
                    </div>
                </div>
                <div class="text-nowrap">
                    <span class="badge bg-success-subtle text-success">+2.95%</span>
                    <span class="ms-1 text-muted font-size-13">Since last week</span>
                </div>
            </div>
        </div>
    </div>
    <!--end card-->
</div>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-4">
                    <h5 class="card-title">Top Services</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <apx-chart dir="ltr" class="apex-charts" [series]="topServiceChart.series"
                        [chart]="topServiceChart.chart" [legend]="topServiceChart.legend"
                        [colors]="topServiceChart.colors" [labels]="topServiceChart.labels"
                        [stroke]="topServiceChart.stroke" [plotOptions]="topServiceChart.plotOptions">
                    </apx-chart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-4">
                    <h5 class="card-title">Wallet Balance</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <apx-chart class="apex-charts" dir="ltr" [series]="basicRadialBarChart.series"
                        [chart]="basicRadialBarChart.chart" [plotOptions]="basicRadialBarChart.plotOptions"
                        [labels]="basicRadialBarChart.labels" [colors]="basicRadialBarChart.colors">
                    </apx-chart>
                </div>
            </div>
        </div>
        <!--end card-->

    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex mb-4">
                    <h5 class="card-title">Monthly Chart</h5>
                </div>
                <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChart.series"
                    [chart]="columnlabelChart.chart" [plotOptions]="columnlabelChart.plotOptions"
                    [yaxis]="columnlabelChart.yaxis" [title]="columnlabelChart.title" [stroke]="columnlabelChart.stroke"
                    [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis"
                    [legend]="columnlabelChart.legend" [colors]="columnlabelChart.colors"
                    [fill]="columnlabelChart.fill">
                </apx-chart>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-4">
        <div class="row">
            <!-- card -->
            <div class="card bg-primary text-white shadow-primary card-h-100">
                <!-- card body -->
                <div class="card-body p-0">
                    <div id="carouselExampleCaptions" class="carousel slide text-center widget-carousel"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <!-- Carousel with caption -->
                            <owl-carousel-o [options]="timelineCarousel" class="events navs-carousel">
                                @for (slide of News; track $index) {
                                <ng-template carouselSlide>
                                    <div class="item event-list">
                                        <div class="text-center p-4">
                                            <!-- <i class="mdi {{slide.avatar_icon}} widget-box-1-icon"></i> -->
                                            <div class="avatar-md m-auto">
                                                <span
                                                    class="avatar-title rounded-circle bg-light-subtle text-white font-size-24">
                                                    <i class="{{slide.icon}}"></i>
                                                </span>
                                            </div>
                                            <h4 class="mt-3 lh-base fw-normal text-white"><b>{{slide.title}}</b>
                                                News</h4>
                                            <!-- <p class="text-white-50 font-size-13">{{slide.content}}</p> -->
                                            <button type="button" class="btn btn-light btn-sm">View details <i
                                                    class="mdi mdi-arrow-right ms-1"></i></button>
                                        </div>
                                    </div>
                                </ng-template>}
                            </owl-carousel-o>
                            <!-- End carousel -->
                        </div>
                        <!-- end carousel-inner -->
                    </div>
                    <!-- end carousel -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>

<div class="row">
    <app-appointment></app-appointment>
</div>
<div class="row">
    <app-users></app-users>
</div>